<div class="registration-page">
  <p class="registration-page-title">ALL FIELDS ARE REQUIRED</p>
  <form class="form" action="/account/register" method="post">
    <fieldset>
      <label for="firstname">First Name *</label>
      <input type="text" id="firstname" name="account_firstname" required value="<%= locals.account_firstname %>">

      <label for="lastname">Last Name *</label>
      <input type="text" id="lastname" name="account_lastname" required value="<%= locals.account_lastname %>">
      

      <label for="email">Email *</label>
      <input type="email" id="email" name="account_email" required value="<%= locals.account_email %>">
      

      <label for="password">Password *</label>
      <input type="password" id="password" name="account_password" placeholder="Password" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9]).{12,}$">

      <button class="show-password" type="button">Show Password</button><br>
      <p class="password-requirements">Passwords must be at least 12 characters and include 1 capital letter, 1 number, and 1 special character.</p>
      <br>
      <button class="register-button" type="submit">Register</button>
    </fieldset>
  </form>
</div>



