<% const d = new Date(); let year = d.getFullYear(); %>
<footer>
  <div class="copyright-container">
    <p class="copyright">&copy; <%= year %>, CSE 340 App</p>
    <a href="/cse340starter/server.js">Error Link</a>
  </div>
</footer>
