
<header id="top-header">
  <span class="siteName">
    <a href="/" title="Return to Home Page" class="CSEMotorsLink">CSE Motors</a>
  </span>
  <div>
       <a title="Click to log in" href="/workshops" class="MyAccountLink">Find a Workshop</a>
  </div>
  <div id="tools">
    <% if (typeof loggedin !== 'undefined' && loggedin) { %>
      <% if (typeof accountData !== 'undefined' && accountData.account_firstname) { %>
        <a href="/account" class="MyAccountLink">Welcome <%= accountData.account_firstname %></a>
      <% } %>
        <a title="Click to log out" href="/account/logout" class="login-button">Logout</a>
      <% } else { %>
        <a title="Click to log in" href="/account/login" class="MyAccountLink">My Account</a>
      <% } %>
  </div>
</header>