<h1 class="main-header">Welcome to CSE Motors!</h1>
<div class="delorean-section">
    <img 
        src="../images/vehicles/delorean-tn.jpg" 
        srcset="
            ../images/vehicles/delorean-tn.jpg 768w,
            ../images/vehicles/delorean.jpg 1024w"

        sizes="(max-width: 768px) 100vw,
               (max-width: 1024px) 100vw,
               (max-width: 1025px) 50vw"
        alt="Delorean Image" class="delorean-tn">

    <div class="DMC-delorean">
        <h2>DMC Delorean</h2>
        <ul>
            <li>3 cup holders</li>
            <li>Superman doors</li>
            <li>Fuzzy dicel</li>
        </ul>
        <img src="../images/site/own_today.png" alt="Own Today Button" class="Own-today">
    </div>
</div>
<div class="delorean-section_2">
    <div class="DMC-reviews">
        <h2>DMC Delorean Reviews</h2>
        <ul>
            <li>"So fast it's almost like traveling in time."(4/5)</li>
            <li>"Coolest ride on the road."(5/5)</li>
            <li>"I'm feeling McFly!"(5/5)</li>
            <li>"The most futuristic ride of our day."(4.5/5)</li>
            <li>"80's livin and I love it!."(5/5)</li>
        </ul>
    </div>
    <div class="delorean-upgrades">
        <h2>Delorean Upgrades</h2>
        <div class="pictures-section">
            <div class="picture-span">
                <img src="../images/upgrades/flux-cap.png" alt="Flux Cap">
                <a href="#"><span>Flux Capacitor</span></a>
            </div>
            <div class="picture-span-flame">
                <img src="../images/upgrades/flame.jpg" alt="Flame">
                <a href="#"><span>Flame Decals</span></a>
            </div>
            <div class="picture-span-bumper">
                <img src="../images/upgrades/bumper_sticker.jpg" alt="Bumper Sticker">
                <a href="#"><span>Bumper Stickers</span></a>
            </div>
            <div class="picture-span">
                <img src="../images/upgrades/hub-cap.jpg" alt="Hub Caps">
                <a href="#"><span>Hub Caps</span></a>
            </div>

        </div>
    </div>
</div>


