/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

/*Small*/

#wrapper {
  max-width: 800px;
  height: auto;
  margin: 0px auto 30px auto;
  background-color: white;
}

#top-header {
  display: flex;
  justify-content: space-between;
  margin: 12px 20px;
}

.navigation_list {
  display: flex;
  justify-content: space-around;
}

.main-header {
  font-size: 25px;
}

.DMC-delorean {
  top: 228px;
  left: 150px;
  padding: 20px;
}

.DMC-delorean h2 {
  color: darkturquoise;
  margin: 0px;
  font-size: 20px;
}

.DMC-delorean ul li {
  font-size: 20px;
}

.CSEMotorsLink,
.MyAccountLink {
  text-decoration: none;
}

.CSEMotorsLink {
  font-size: 20px;
  color: rgb(90, 75, 75);
  font-weight: bold;
}

.MyAccountLink {
  font-size: 14px;
  color: rgb(90, 75, 75);
}


#top-header {
  display: flex;
  justify-content: space-between;
}

.navigation_list {
  display: flex;
  justify-content: space-between;
  background-color: rgb(90, 75, 75);
  padding: 5px;
}

.navigation_list li a {
  text-decoration: none;
  color: white;
}

.navigation_list li {
  list-style-type: none;
}

.main-header {
  font-size: 20px;
  margin-bottom: 60px;
}

.delorean-tn {
  display: block;
  margin: auto;
  width: 200px;
}

.delorean-section {
  margin-bottom: 40px;
}

.DMC-delorean {
  background-color: rgba(255, 255, 255, .8);
  position: absolute;
  top: 140px;
  left: 40px;
  padding: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h2 {
  font-size: 15px;
}

.DMC-delorean h2 {
  color: darkturquoise;
  margin: 0px;
  font-size: 15px;
}

.DMC-delorean ul {
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.DMC-delorean ul li {
  list-style-type: none;
  color: darkturquoise;
  font-size: 13px;
}

.Own-today {
  width: 95px;
}

.DMC-reviews ul {
  padding-left: 15px;
}

.DMC-reviews ul li {
  margin-bottom: 7px;
}

.DMC-reviews h2,
.delorean-upgrades h2 {
  font-size: 18px;
}

.delorean-upgrades {
  max-width: 800px;
  margin: 0 auto;
}

.pictures-section {
  max-width: 300px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
}

.picture-span,
.picture-span-flame,
.picture-span-bumper {
  max-width: 200px;
  display: grid;
  text-align: center;
  margin-bottom: 10px;
}

.picture-span img {
  display: block;
  margin: auto;
  width: 150px;
  background-color: darkturquoise;
  padding: 10px 50px;
}

.picture-span-flame img {
  display: block;
  margin: auto;
  width: 150px;
  background-color: darkturquoise;
  padding: 3.5px 50px;
}

.picture-span-bumper img {
  display: block;
  margin: auto;
  width: 150px;
  background-color: darkturquoise;
  padding: 13px 50px;
}

.copyright {
  margin: 50px 0 0px 0;
  font-size: 12px;
}
/*Small - Inventory Section*/
#inv-display{
  text-align: center;
  list-style: none;
}

/*Small - Error Container*/

.errorContainer{
  display: flex;
}

#inv-display li {
  border: 1px solid #ccc;
  width: 250px;
  text-align: center;
  margin: 16px 16px 35px 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

#inv-display li img {
  width: 100%;
  height: 150px;
  border-radius: 8px 8px 0px 0px;
}

#inv-display li a {
 display: block;
 color: blue;
 font-size: 1.2em;
}

.namePrice{
  color: black;
  font-size: 1.1em;
  margin-bottom: 15px;
}

#inv-display li hr {
  border: 0;
  height: 3px;
  background-color: #000;
  margin: 8px 0;
}

/*small vehicle view*/

.image-vehicle_view{
  max-width: 100%;
}

.span-vehicle_price {
  font-size: 20px;
  font-weight: bold;
}

.span-vehicle{
  font-size: 20px;
}

.h2-vehicle_view{
  font-size: 28px;
}

/*Small Login - Form*/
form{
  background-color: #00aaff;
  border-radius: 5px;
  max-width: 300px;
  margin: 0 auto;
}

.login-form{
  padding: 20px;
}

form input[type="text"], form input[type="email"], form input[type="password"]{
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 3px;
}

form label{
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

form .password-requirements{
  font-size: 16px;
  font-weight: 500;
  color: #333;
  margin-bottom: 10px;
}

form .show-password{
  background-color: #333;
  color: #fff;
  padding: 5px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

form .login-button{
  background-color: #ccc;
  padding: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

form .signup-link{
  display: block;
  color: black;
  text-align: center;
  margin-top: 10px;
  font-size: 16px;
}

form .signup-link a {
  font-size: 20px;
  color: #00aaff;
  text-decoration: none;
}

/*Small registration form*/
.registration-page{
  max-width: 400px;
  padding: 25px;
  border-radius: 3px;
  background-color: #00aaff;
  display: block;
  margin: auto;
}

.registration-page-title{
  font-family: serif;
  font-size: 20px;
  text-align: left;
}

input:required:invalid,
input:focus:invalid {
  background-image: url(/images/invalid.png);
  background-position: right top;
  background-repeat: no-repeat;
}

input:required:valid {
  background-image: url(/images/valid.png);
  background-position: right top;
  background-repeat: no-repeat;
}

/*Flash message*/

.notice-add-inventory, .error, .notice li {
  list-style: none;
}

.notice-login, .notice-registration, .notice-add-classification, .notice-add-inventory, .error, .notice{
  background-color: bisque;
  padding: 20px;
  max-width: 550px;
  border-radius: 5px;
}

.notice-login, .notice-registration, .notice-add-classification, .notice-add-inventory, .error, .notice li{
font-family: Arial, Helvetica, sans-serif;
font-size: 16px;
max-width: max-content;
color: #ac5d5d;
}

.notice-login, .notice-add-classification  li:nth-child(odd) {
  display: none;
}

.notice-registration li:nth-child(even){
  display: none;
}

.notice-login, .notice-add-classification li:nth-child(even) {
  margin: 0 0 10px 10px;
}

.notice-registration li:nth-child(odd) {
  margin: 0 0 10px 10px;
}

.notice-add-classification li:nth-child(4) {
  display: block;
}

/*Small Add classification View*/

.classification-requirements {
  font-family: sans-serif;
  font-size: 12.5px;
  font-weight: bolder;
  color: #333;
  margin-bottom: 10px;
}

/*Small add inventory view*/

select, .detail{
  padding: 10px;
  border: none;
  border: 1px solid #ccc;
}

input[type="submit"] .register-button{
  cursor: pointer;
}

/*Workshop Section*/

.workshop-image {
  width: 300px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.workshop-name{
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 35px;
  color: #2c3e50;
  text-align: center;
}

.workshop-card {
  max-width: 400px;
  margin: 20px auto;
  padding: 25px;
  border: 1px solid #eee;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
  font-family: arial, sans-serif;
}

.workshop-header{
  text-align: center;
  margin-bottom: 20px;
  color: #333;
  font-size: 1.2rem;
  font-family: arial, sans-serif;
  background-color: orange;
  padding: 20px;
  border-radius: 5px;
}

.workshop-banner{
  text-align: center;
}

.services-list {
  margin: 8px 0;
  padding-left: 20px;
}

.services-list li {
  margin-bottom: 4px;
  list-style-type: disc;
}
.services-list li::before {
  content: 🚗;
  margin-right: 8px;
}

.new-search{
  display: block;
  margin: auto;
  text-align: center;
  padding: 15px;
  border-radius: 5px;
  background-color: #00aaff;
  font-family: arial, sans-serif;
  color: #333;
  font-weight: bold;
  max-width: 15%;
}

.pointer {
  cursor: pointer;
}


/*Medium*/

@media (min-width: 688px) and (max-width: 1024px) {

body {
    background-image: url(../images/site/small_check.jpg);
  }

main{
  margin-left: 20px;
}

  #wrapper {
    max-width: 800px;
    margin: 0px auto 50px auto;
    border-color: darkturquoise;
    border-style: solid;
    border-width: 10px;
    border-radius: 8px;
  }

  .CSEMotorsLink {
    font-size: 40px;
  }

  .MyAccountLink {
    font-size: 34px;
  }

  .navigation_list{
    margin: 15px 20px;
  }

  .navigation_list li {
    font-size: 35px;
  }

  .main-header {
    font-size: 45px;
    margin-bottom: 100px;
  }

  .DMC-reviews h2, .delorean-upgrades h2 {
    font-size: 42px;
  }

  .DMC-reviews ul li {
    font-size: 30px;
    margin-left: 10px;
  }

  .delorean-tn {
    width: 400px;
  }

.DMC-delorean {
  position: absolute;
  top: 250px;
  left: 190px;
  padding: 25px;
}

.DMC-delorean h2 {
  font-size: 30px;
}


.DMC-delorean ul li {
  font-size: 25px;
}

.Own-today {
  width: 145px;
}

.delorean-upgrades {
  max-width: 1000px;
  margin: 0 auto;
}

.pictures-section {
  max-width: 800px;
  margin: 0;
}
.picture-span,
.picture-span-flame,
.picture-span-bumper {
  max-width: 1200px;
  display: grid;
  text-align: center;
  margin-bottom: 10px;
}

.picture-span img {
  width: 340px;
  padding: 19px 100px;
}

.picture-span-flame img {
  width: 340px;
  padding: 2px 100px;
}

.picture-span-bumper img {
  width: 347px;
  padding: 21px 100px;
}

.copyright {
  margin: 50px 0 0px 0;
  font-size: 12px;
}

 .picture-span,
 .picture-span-flame,
 .picture-span-bumper a {
  font-size: 30px;
 }

.copyright {
  margin: 50px 0 0px 0;
  font-size: 22px;
}

/*Medium - Inventory Section*/
#inv-display {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

/*Medium vehicle view*/

.item-container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}

.item-container > div {
  flex: 1;
}

.image-vehicle_view{
  max-width: 300px;
  height: auto;
}

/*Medium footer*/
.copyright-container {
  margin: 0 0 12px 12px;
}

}

/*Medium form*/

form {
  max-width: 350px;
}

/*Big*/

@media (min-width: 1025px) and (max-width: 2560px) {

body {
    background-image: url(../images/site/small_check.jpg);
  }
main{
  margin-left: 15px;
}
  #wrapper {
    max-width: 1100px !important;
    margin: 0px auto 50px auto;
    border-color: darkturquoise;
    border-style: solid;
    border-width: 10px;
    border-radius: 8px;
}
 .CSEMotorsLink {
   font-size: 30px;
 }

.MyAccountLink {
  font-size: 25px;
}

.delorean-tn {
  width: 600px;
}

.DMC-delorean {
  position: absolute;
  top: 220px;
  left: 590px;
  padding:30px;
}

.DMC-delorean h2 {
  color: darkturquoise;
  margin: 0px;
  font-size: 30px;
}

.DMC-delorean ul li {
  font-size: 28px;
}

.Own-today {
  width: 175px;
}

#top-header {
  display: flex;
  justify-content: space-between;
}

.navigation_list {
  display: flex;
  justify-content: space-around;
  margin: 16px 10px;
}

.navigation_list li {
  font-size: 30px;
}

.main-header {
  font-size: 35px;
}

.DMC-reviews ul li {
  font-size: 20px;
}

.DMC-reviews h2,
.delorean-upgrades h2 {
  font-size: 28px;
}

.delorean-upgrades h2{
  text-align: center;
}

.DMC-reviews ul li {
  font-size: 22px;
  margin-left: 10px;
  margin-bottom: 40px;
}

.pictures-section {
  max-width: 530px;
  margin: 0;
}

.picture-span,
.picture-span-flame,
.picture-span-bumper {
  max-width: 1200px;
  display: grid;
  text-align: center;
  margin-bottom: 10px;
}

.picture-span img {
  width: 250px;
  padding: 19px 80px;
}

.picture-span-flame img {
  width: 250px;
  padding: 8px 80px;
}

.picture-span-bumper img {
  width: 250px;
  padding: 25px 80px;
}

.copyright {
  margin: 50px 0 0px 0;
  font-size: 12px;
}

.picture-span,
.picture-span-flame,
.picture-span-bumper a {
  font-size: 25px;
}

.delorean-section_2{
display: flex;
flex-direction: row-reverse;
margin-right: 40px;
}

.copyright {
  margin: 50px 0 0px 0;
  font-size: 22px;
}

/*Big - Inventory Section*/
#inv-display {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

/*Big vehicle view*/

.item-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.item-container>div {
  flex: 1;
}

.image-vehicle_view {
  max-width: 450px;
  height: auto;
}

/*Big footer*/
.copyright-container {
  margin: 0 0 12px 12px;
}

/*Big form*/
form {
  max-width: 350px;
}

}

