<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<%- messages() %>


<a href="/inv/add-classification">Add New Classification</a>
<br><br>
<a href="/inv/add-inventory">Add New Vehicle</a>
<h2>Manage Inventory</h2>
<p>Choose a classification to see those inventory items.</p>
<%- classificationSelect %>
<table id="inventoryDisplay"></table>
<noscript>JavaScript must be enabled to use this page.</noscript>

<script src="../../js/inventory.js"></script>

