<% if (title) { %>
  <h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>
<%- messages() %>

<% if (errors && errors.length> 0) { %>
  <ul class="notice-add-inventory">
 <% errors.forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>



<form class="login-form" action="/workshops/search" method="post">
  <label for="city">City:</label>
  <input type="text" id="city" name="city" pattern="[A-Za-z\s]+" required>

  <label for="zipcode">Zip Code:</label>
  <input type="text" id="zipcode" name="zipcode" pattern="\d{5}" required>

  <button class="pointer" type="submit">Search</button>
</form>


<script>
    document.addEventListener("DOMContentLoaded", function(){
        document.querySelectorAll("ul.error li").forEach(li =>{
            if(li.textContent.trim() === "Invalid value"){
                li.style.display = "none";
            }
         })
    })
</script>